//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "fishlamp-xcodeconfigs/Configs/FishLampIncludedConfig-OSX-64.xcconfig"
#include "fishlamp-xcodeconfigs/Configs/FishLampIncludedConfig-ARC.xcconfig"
#include "fishlamp-xcodeconfigs/Configs/FishLampIncludedConfig-Preprocessor.xcconfig"
#include "fishlamp-xcodeconfigs/Configs/FishLampPaths.xcconfig"
