//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "FishLampXcodeConfigs/Configs/FishLampIncludedConfig-OSX-Universal.xcconfig"
#include "FishLampXcodeConfigs/Configs/FishLampIncludedConfig-MRC.xcconfig"
#include "FishLampXcodeConfigs/Configs/FishLampIncludedConfig-Preprocessor.xcconfig"
