//
//  TEMPLATE-Test-iOS-ARC.xcconfig
//  TEMPLATE
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/TargetSettings/Piecemeal-TargetSettings-iOS-ARC.xcconfig"

//GCC_PRECOMPILE_PREFIX_HEADER = YES
//GCC_PREFIX_HEADER = TEMPLATE-Test-iOS/TEMPLATE-iOS-ARC-Prefix.pch
//
//INFOPLIST_FILE = TEMPLATE-Test-iOS/TEMPLATE-Test-iOS-Info-plist

